

@font-face {
  font-family: 'Nanum Brush Script';
  src: url('font004/NanumBrushScript-Regular.eot');
  src: url('font004/NanumBrushScript-Regular.eot') format('embedded-opentype'),
       url('font004/NanumBrushScript-Regular.woff') format('woff');
}