
@font-face {
  font-family: 'Nanum Gothic';
  src: url('font001/NanumGothic-Regular.eot');
  src: url('font001/NanumGothic-Regular.eot') format('embedded-opentype'),
       url('font001/NanumGothic-Regular.woff') format('woff');
}
