@font-face {
  font-family: 'Jeju Gothic';
  src: url('font008/JejuGothic-Regular.eot');
  src: url('font008/JejuGothic-Regular.eot') format('embedded-opentype'),
       url('font008/JejuGothic-Regular.woff') format('woff');
}